/* mobile device */
@media screen and (max-width: 576px) {

    /* header section */
header{
    background: url(./images/header_bg.png), #FFF8F3;
    background-position: bottom right;
    background-repeat: no-repeat;
}

.container{
    width: 95%;
}

.section-heading h2 {
    font-size: 30px;
    margin-bottom: 20px;
}
.section-heading p {
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 22px;
}

nav, #banner{
    flex-direction:column;
}

#about, #skills, #resume{
    padding-top: 50px;
}

nav {
 gap:15px;
}  

nav .menu{
    flex-wrap: wrap;
    justify-content: center; 
    gap:20px
}

#banner {
    margin: 20px;
    text-align: center;
}

#banner .banner-content h1 {
   font-size: 40px;
}

#banner .banner-content .btn-group {
    flex-direction: column;
    gap: 20px;
}

#banner .banner-img img {
    width: 100%;
    height: 100%;
}

/* about section */

#about .about-container{
  padding: 30px;
}

#about .about-container .about-info, #skills .skills-container .skill-box, #resume .resume-container, footer .footer-container {
    flex-direction: column;
    gap: 30px;
}

/* skills section */
#skills{
  padding: 40px;
}

.skill-box .skill-card{
  max-width: 100%;


}

/* Resume Section */
#resume .resume-container{
  margin-top: 60px;
}
.resume-card{
  margin-right: 10px;
}

/* footer section */

footer .footer-container form input[type="text"], footer .footer-container form textarea{
    width: 100%;
}
}


