*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  --primary-bg-color: #FFF8F3;
  --primary-color: #FD6E0A; 
}

body{
  font-family: "Open", sans-serif;
  font-optical-sizing: auto;
}  

/* Common Style */
.container{
  width: 71%;
  max-width: 1140px;
  /* border: 1px solid blue; */
  margin:0px auto;
}
.special{
  color: var(--primary-color);
}
li a{
  text-decoration: none;
}
.btn{
   background-color: var(--primary-color);
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding: 18px 36px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-secondary{
  background-color: transparent;
  border: 1px solid #FD6E0A;
  color: #FD6E0A;
}

.section-heading{
  max-width: 827px;
  text-align: center;
  margin: 0 auto;
}
.section-heading h2{
  font-size: 35px;
  margin-bottom: 30px;
}
.section-heading p{
  font-size: 18px;
  color: #757575;
  margin-bottom: 30px;
  line-height: 30px;
}
.text-center{
  text-align: center;
}
/* Main Style */

/* Header */
header{
  background-color: var(--primary-bg-color);
  background: url("./images/developer.png"), url("./images/header_bg.png"), #FFF8F3;
 background-position: 23px 10px, bottom right;
 background-repeat: no-repeat;
  padding-top: 50px;
}
nav{
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.logo h2{
  font-size: 45px;
  font-weight: 800;
}
nav .menu{
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 50px;
}

nav .menu a{
  color: #474747;
  font-size: 20px;
  font-weight: 400;
}


/* Banner section */
#banner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 47px 38px 0 230px;
}

#banner .banner-content{
  max-width: 585px;
}
#banner .banner-content h2{
  font-size: 45px;
  font-weight: 600;
  color: #474747;
  margin-bottom: 5px;
}
#banner .banner-content h1{
  font-size: 60px;
  font-weight: 700;
  color: #181818;
  margin-bottom: 20px;
}
#banner .banner-content p{
  font-size: 18px;
  font-weight: 400;
  color: #757575;
  line-height: 30px;
  margin-bottom: 30px;
}

#banner .banner-content .btn-group{
  display: flex;
  align-items: center;
  gap: 30px;
}

#banner .banner-img img{
  max-width: 585px;
  /* height: 700px; */
  vertical-align: middle;
}

/* about Section */
#about{
  padding-top: 130px;
}

#about .about-container{
  text-align: center;
  background-color: var(--primary-bg-color);
  padding: 131px 156px;
}

#about .about-container .about-info{
  display: flex;
  /* justify-content: space-between; */
  gap: 15px;
}

.about-info .info-card p{
  font-size: 20px;
  color: #757575;
  line-height: 30px;
}
.about-info .info-card h4{
  font-size: 20px;
  color: #474747;
  line-height: 30px;
}

/* Skills Section */
#skills{
  padding: 130px;
}

#skills .skills-container .skill-box{
  display: flex;
  gap: 24px;
  margin-top: 50px;
}

.skill-box .skill-card{
  max-width: 267px;
  box-shadow: 0 6px 50px 0 #0000001b;
  padding: 30px;

}
.skill-box .skill-card img{
  max-width: 44px;
  margin-bottom: 30px;
}

.skill-box .skill-card h3{
  font-size: 20px;
  color: #181818;
  margin-bottom: 20px;
}

.skill-box .skill-card p{
  font-size: 16px;
  color: #757575;
  line-height: 28px;
}

/* Resume Section */
#resume .resume-container{
  display: flex;
  gap:24px;
  margin-top: 114px;
}
.resume-card{
  max-width: 511px;
  margin-right: 47px;
}
hr{
  margin: 30px 0;
}

.resume-title{
  font-size: 30px;
  color: #474747;
  margin-bottom: 30px;
}
.card-title{
  font-size: 25px;
  color: #474747;
  margin-bottom: 10px;
}
.card-info{
  font-size: 20px;
  font-weight: 600;
  color: #757575;
  margin-bottom: 20px;
}
.card-text{
  font-size: 16px;
  color: #757575;
  line-height: 28px;
}

#resume .btn{
  margin-top: 50px;
}

/* Footer Section */
footer{
  margin-top: 113px;
  background-color: #FFF8F3;
  padding: 130px 0;
}

footer .footer-container{
  display: flex;
  gap: 116px;
}
.footer-container h2{
font-size: 35px;
color: #181818;
margin-bottom: 20px;
}
.footer-container .social{
  max-width: 562px;
}
.social p{
  font-size: 16px;
  color: #474747;
  line-height: 28px;
  margin-bottom: 30px;
}

.footer-container .social .icons a{
  margin-right: 24px;
}

footer .footer-container form input[type="text"], footer .footer-container form textarea{
  width: 461px;
  padding: 18px 30px;
  border: none;
  border-radius: 5px;
  margin-bottom: 24px;
  color: #757575;
}

.hide{
  display: none;
}