*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  --primary-bg-color: #FFF8F3;
  --primary-color: #FD6E0A; 
}

body{
  font-family: "Open", sans-serif;
  font-optical-sizing: auto;
}  

/* Common Style */
.container{
  width: 71%;
  max-width: 1140px;
  /* border: 1px solid blue; */
  margin:0px auto;
}
.special{
  color: var(--primary-color);
}
li a{
  text-decoration: none;
}
.btn{
   background-color: var(--primary-color);
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding: 18px 36px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-secondary{
  background-color: transparent;
  border: 1px solid #FD6E0A;
  color: #FD6E0A;
}

/* Main Style */

/* Header */
header{
  background-color: var(--primary-bg-color);
  background: url("./images/developer.png"), url("./images/header_bg.png"), #FFF8F3;
 background-position: 23px 10px, bottom right;
 background-repeat: no-repeat;
  padding-top: 50px;
}
nav{
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.logo h2{
  font-size: 45px;
  font-weight: 800;
}
nav .menu{
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 50px;
}

nav .menu a{
  color: #474747;
  font-size: 20px;
  font-weight: 400;
}


/* Banner section */
#banner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 47px 38px 0 230px;
}

#banner .banner-content{
  max-width: 585px;
}
#banner .banner-content h2{
  font-size: 45px;
  font-weight: 600;
  color: #474747;
  margin-bottom: 5px;
}
#banner .banner-content h1{
  font-size: 60px;
  font-weight: 700;
  color: #181818;
  margin-bottom: 20px;
}
#banner .banner-content p{
  font-size: 18px;
  font-weight: 400;
  color: #757575;
  line-height: 30px;
  margin-bottom: 30px;
}

#banner .banner-content .btn-group{
  display: flex;
  align-items: center;
  gap: 30px;
}
#banner .banner-content .btn-group button{
  display: flex;
  align-items: center;
  gap: 10px; 
}

#banner .banner-img img{
  max-width: 585px;
/* height: 676px; */
  vertical-align: middle;
}

